<!doctype html>
<html lang="ko">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<meta name="description" content="" />
		<meta name="keywords" content="" />
        <script src="https://code.jquery.com/jquery-latest.js"></script> 
		<link rel="stylesheet" type="text/css" href="/static/main.css" />

        <style>
            @font-face {
                font-family: 'Jal_Onuel';
                src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-10-21@1.0/Jal_Onuel.woff') format('woff');
                font-weight: normal;
                font-style: normal;
            }
            #page {
                font-family: 'Jal_Onuel';
            }

            #test_bar {
                display: flex;
                justify-content: flex-start;
                font-size : 30px;
            }
            #test_btn {
                font-size : 30px;
                margin-left: 30px;
            }
            #persona_song_list {
                display: flex;
                justify-content: flex-start;
            }

            .modal {
                display: none; /* Hidden by default */
                position: fixed; /* Stay in place */
                z-index: 1; /* Sit on top */
                left: 0;
                top: 0;
                width: 100%; /* Full width */
                height: 100%; /* Full height */
                overflow: auto; /* Enable scroll if needed */
                background-color: rgb(0,0,0); /* Fallback color */
                background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
            }
    
            /* Modal Content/Box */
            .modal-content {
                background-color: #fefefe;
                margin: 15% auto; /* 15% from the top and centered */
                padding: 20px;
                border: 1px solid #888;
                width: 30%; /* Could be more or less, depending on screen size */                          
            }

        </style>
    </head>
    <body>

        <!-- Header -->
            <header id="header">
                <a class="logo" href="/mbti">MBTMI</a>
                <nav>
					<a href="#menu">Menu</a>
				</nav>
            </header>

        <!-- Nav -->
			<nav id="menu">
				<ul class="links">
					<li><a href="/mbti">Main</a></li>
                    <li><a href="/home">Home</a></li>
					<li><a href="/login">Logout</a></li>
                    <li><a href="/home/playlist">Playlist</a></li>
				</ul>
			</nav>

        <!-- Heading -->
			<div id="heading" >
				<h1 id="page"><strong>{{userName}}님의 Home Page</strong></h1>
			</div>

            <section id="main" class="wrapper">
				<div class="inner">
					<div id="page" class="content">
                        <div class="row">
                            <div class="input-group" id="test_bar"> 
                                {% for elem in mbti%}
                                <p>{{elem}}&#160</p>
                                {% endfor %}
                                <p>성향의 {{userName}}님!</p>

                            </div>
                        </div>

                        <div class="row">
                            <div  class="col-1 col-12-small"> </div>
                            <div class="col-4 col-12-small">
                                <form action='/mbti/question/1'>
                                    <button class="button primary fit" type="submit" id="login_btn">다시 검사받기</button>
                                </form>
                            </div>
                            <div class="col-1 col-12-small"> </div>
                            <div class="col-1 col-12-small"> </div>
                            <div class="col-4 col-12-small">
                                <button class="button fit" type="submit" id="logout_btn" onclick="modalopen();">친구와 함께 들을 노래 추천</button>
                            </div>
                            <div class="col-1 col-12-small"> </div>
                        </div>

                        <hr />

                        <div id="same_mbti_tap">
                            <h2>{{userName}} 님과 같은 성향의 사람들이 좋아하는 음악</h2>
                            <div id = "persona_song_list" class="row">
                                {% for mbti_song in same_mbti_songs%}
                                <div id="song_item" class="col-2 col-12-small">
                                    <img class="clickable_thumbnail", id="clickable_thumbnail_0" src={{mbti_song.thumbnail}} alt={{mbti_song.url}} width="180" height="100" onClick="open_pop();"> </img>
                                </div>
                                {% endfor %}
                            </div>
                            <hr />
                        </div>

                        <h2>{{userName}} 님에게 추천하는 음악</h2>
                        {% for song in song_list%}
                        <p style="margin-top:20px;margin-bottom:3px;">{{song.0.artist}}</p>
                        <div id = "persona_song_list" class="row">
                            <div id="song_item" class="col-2 col-12-small">
                                <img class="clickable_thumbnail", id="clickable_thumbnail_0" src={{song.0.thumbnail}} alt={{song.0.url}} width="180" height="100" onClick="open_pop();"> </img>
                            </div>
                            <div id="song_item" class="col-2 col-12-small">
                                <img class="clickable_thumbnail" id="clickable_thumbnail_1" src={{song.1.thumbnail}} alt={{song.1.url}} width="180" height="100" onClick="open_pop();"> </img>
                            </div>
                            <div id="song_item" class="col-2 col-12-small">
                                <img class="clickable_thumbnail" id="clickable_thumbnail_2" src={{song.2.thumbnail}} alt={{song.2.url}} width="180" height="100" onClick="open_pop();"> </img>
                            </div>
                            <div id="song_item" class="col-2 col-12-small">
                                <img class="clickable_thumbnail" id="clickable_thumbnail_3" src={{song.3.thumbnail}} alt={{song.3.url}} width="180" height="100" onClick="open_pop();"> </img>
                            </div>
                            <div class="col-2 col-12-small"> </div>
                            <div class="col-1 col-12-small">
                                <button class="button small icon fa-trash del_artist" style="margin-top:30px;" alt={{song.0.artist}}>삭제</button>
                            </div>
                        </div>
                        <hr />
                        {% endfor %}
					</div>
				</div>
			</section>

            <div id="myModal" class="modal">
                <!-- Modal content -->
                <div id="page" class="modal-content">
                    <div class="left_box col-12-small">
                        <div class="video_box">
                            <iframe
                                id="video"
                                height="300" 
                                src={{song_list.0.0.url}}
                                onload="autoResize(this)"
                                style="width:100%;"
                                frameborder="0" 
                                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" 
                                allowfullscreen>
                            </iframe>
                        </div>
                    </div>

                    <!--좋아요-->
                    <div style="cursor:pointer; text-align: center; padding-bottom: 10px; padding-top: 10px;">
                        <button id="good_song" class="button" onClick="good_song_btn();">좋아요</button>
                    </div>

                    <div style="cursor:pointer;background-color:#DDDDDD;text-align: center;padding-bottom: 10px;padding-top: 10px;" onClick="close_pop();">
                        <span class="pop_bt" style="font-size: 13pt;" >
                            닫기
                        </span>
                    </div>
                </div>
            </div>

            <div id="musicModal" class="modal">
                <!-- Modal content -->
                <div id="page" class="modal-content">
                    <p style="text-align: center;"><span style="font-size: 14pt;"><b><span style="font-size: 24pt;">노래 추천</span></b></span></p>
                    <p style="text-align: center; line-height: 1.5;"></p>
                    <p style="text-align: center;"><span style="font-size: 14pt;">함께 추천받고 싶은 user의 id를 입력해주세요.</span></p>
                    <input type="text" id="other_user_id" placeholder="상대방의 ID">
                    <p><br /></p>
                    <div class="col-6 col-12-small" style="cursor:pointer;background-color:#DDDDDD;text-align: center;padding-bottom: 10px;padding-top: 10px; margin-bottom:5px" onClick="submit_id();">
                        <span class="pop_bt" style="font-size: 13pt;" >
                            제출
                        </span>
                    </div>
                    <div class="col-6 col-12-small" style="cursor:pointer;background-color:#DDDDDD;text-align: center;padding-bottom: 10px;padding-top: 10px;" onClick="close_music_modal();">
                        <span class="pop_bt" style="font-size: 13pt;" >
                            닫기
                        </span>
                    </div>
                </div>
            </div>

            <div id="resultModal" class="modal">
                <!-- Modal content -->
                <div id="page" class="modal-content">
                    <p style="text-align: center;"><span style="font-size: 14pt;"><b><span style="font-size: 24pt;"><p id="together_title"></p></span></b></span></p>
                    <p style="text-align: center; line-height: 1.5;"></p>
                    <p style="text-align: center; line-height: 0;"><span style="font-size: 14pt;"><p id="together_content1"></p></span></p>
                    <p style="text-align: center; line-height: 0;"><span style="font-size: 14pt;"><p id="together_content2"></p></span><br /></p>
                    <p><br /></p>
                    <div style="cursor:pointer;background-color:#DDDDDD;text-align: center;padding-bottom: 10px;padding-top: 10px;" onClick="close_result_pop();">
                        <span class="pop_bt" style="font-size: 13pt;" >
                            닫기
                        </span>
                    </div>
                </div>
            </div>
    </body>

    <script type="text/javascript">
        jQuery(document).ready(function() {
            $('#myModal').hide();
            $('#musicModal').hide();
            $("#resultModal").hide();
            if ({{same_mbti_songs}}.length == 0) {
                $("#same_mbti_tap").hide();
            }
        });
        //팝업 Close 기능
        function close_pop(flag) {
             $('#myModal').hide();
        };
        $(".clickable_thumbnail").click(function(){
            $("#video").attr('src', $(this).attr('alt'));
            $("#myModal").show();
            $.ajax({
                url: "/home/checkGoodSong",
                data: {song: $("#video").attr("src")},
                type: "GET",
                success: function(data) {
                    if (data["check"] == true) {
                        $("#good_song").attr('class', "button primary");
                    }
                    else {
                        $("#good_song").attr('class', "button");
                    }
                }
            })
        })
        function modalopen(flag) {
            $('#musicModal').show();
        }
        function submit_id(flag) {
            $.ajax({
                url: "/home/sharedmusic",
                data: {id: $("#other_user_id").val()},
                type: "GET",
                success: function(data) {
                    document.getElementById("together_title").innerHTML = data["other"] + " 님과 함께 들을만한 노래"
                    if (data["intersection"].length == 0) {
                        document.getElementById("together_content1").innerHTML = data["other"] + " 님과 함께 즐길만한 노래가 없어요(T.T )( T.T)"
                    } else{
                        document.getElementById("together_content1").innerHTML = data["user"] + " 님과 "+ data["other"] + " 님은 아래 Artist의 음악을 함께 즐길 수 있을 거예요!"
                        document.getElementById("together_content2").innerHTML = data["intersection"]
                    }
                    $('#resultModal').show();
                },
                error: function(data) {
                    alert(data.responseJSON.error);
                }
            })
        }
        function close_result_pop(flag) {
             $('#resultModal').hide();
             $('#musicModal').hide();
        };
        function close_music_modal(flag) {
             $('#musicModal').hide();
        };
        function good_song_btn(flag) {
             $.ajax({
                url: "/home/goodSong",
                data: {song: $("#video").attr("src"), status: $("#good_song").attr("class")},
                type: "GET",
                success: function(data) {
                    if (data["click"] == true) {
                        $("#good_song").attr('class', "button primary");
                    } else {
                        $("#good_song").attr('class', "button");
                    }

                }
            })
        };
        $(".del_artist").click(function(){
            $.ajax({
                url: "/home/delArtist",
                data: {artist: $(this).attr("alt") },
                type: "GET",
                success: function(data) {
                    location.reload();
                }
            })
        })
    </script>

    <!-- Scripts -->
			<script src="/static/jquery.min.js"></script>
			<script src="/static/browser.min.js"></script>
			<script src="/static/breakpoints.min.js"></script>
			<script src="/static/util.js"></script>
			<script src="/static/main.js"></script>

</html>