<!doctype html>
<html lang="ko">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<meta name="description" content="" />
		<meta name="keywords" content="" />
		<link rel="stylesheet" type="text/css" href="/static/main.css" />
        <style>
            @font-face {
                font-family: 'Jal_Onuel';
                src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-10-21@1.0/Jal_Onuel.woff') format('woff');
                font-weight: normal;
                font-style: normal;
            }
            #page {
                font-family: 'Jal_Onuel';
            }

            #jungin{
                margin-bottom:5.5px;
            }
        </style>
    </head>
    <body>

        <!-- Header -->
            <header id="header">
                <a class="logo" href="/mbti">MBTMI</a>
                <nav>
					<a href="#menu">Menu</a>
				</nav>
            </header>

        <!-- Nav -->
			<nav id="menu">
				<ul class="links">
					<li><a href="/mbti">Main</a></li>
                    <li><a href="/home">Home</a></li>
					<li><a href="/login">Login</a></li>
				</ul>
			</nav>

        <!-- Heading -->
			<div id="heading" >
				<h1 id="page"><strong>SignUp Page</strong></h1>
			</div>

        <!-- Main -->
			<section id="main" class="wrapper">
				<div class="inner">
					<div id="page" class="content">

                        <h2 align="center">회원가입</h2>

                        <div class="row" style="margin-bottom:-40px;">
                            <div class="col-3 col-12-small">
                            </div>
                            <div class="col-6 col-12-small">
                                <form action="/login/signup/success" method="GET">{% csrf_token %}
                                    <div class="input-group">
                                        <input id="jungin" type="text" name="userName" id="userContent" placeholder="Name">
                                        <input id="jungin" type="text" name="userID" id="userContent" placeholder="ID">
                                        <input id="jungin" type="password" name="userPW" id="userContent" placeholder="Password">
                                        <span class="input-group-btn">
                                            <button class="button primary fit" type="submit" id="signup_submit_btn">완료</button>
                                        </span>
                                    </div>
                                </form>
                            </div>
                            <div class="col-3 col-12-small">
                            </div>
                        </div>
					</div>
				</div>
			</section>

    </body>

    <!-- Scripts -->
			<script src="/static/jquery.min.js"></script>
			<script src="/static/browser.min.js"></script>
			<script src="/static/breakpoints.min.js"></script>
			<script src="/static/util.js"></script>
			<script src="/static/main.js"></script>

</html>