<!doctype html>
<html lang="ko">
  <head>
    <title>MBTMI</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<meta name="description" content="" />
		<meta name="keywords" content="" />
		<link rel="stylesheet" type="text/css" href="/static/main.css" />
    <style>
      @font-face {
        font-family: 'Jal_Onuel';
        src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-10-21@1.0/Jal_Onuel.woff') format('woff');
        font-weight: normal;
        font-style: normal;
      }
      #page {
        font-family: 'Jal_Onuel';
      }
    </style>
  </head>



  <body class="is-preload">

    <!-- Header -->
			<header id="header">
				<a class="logo" href=".">MBTMI</a>
        <nav>
					<a href="#menu">Menu</a>
				</nav>
			</header>

    <!-- Nav -->
			<nav id="menu">
				<ul class="links">
					<li><a href=".">Main</a></li>
          <li><a href="/home">Home</a></li>
					<li><a href="/login">{{status}}</a></li>
				</ul>
			</nav>

    <!-- Banner -->
			<section id="banner">
				<div id="page" class="inner">
					<h1><strong>MBTMI</strong></h1>
					<p><strong> 퀸주의 개지리는 음악추천 </strong></p>
				</div>
				<video autoplay loop muted playsinline src="/static/banner.mov"></video>
			</section>

    <!-- Highlights -->
			<section class="wrapper">
				<div id="page" class="inner">
					<header class="special">
						<h2>성격 유형별 K-POP 추천</h2>
						<p>전 세계가 주목하는 K-POP!!</br>
            당신의 성격에 맞는 K-POP 음악을 찾고 싶다면!?</p>
					</header>
					<div class="highlights">

            <section>
            </section>

            <form action="./question/1" method="GET">{% csrf_token %}
              <button type="submit" class="icon fa-paper-plane-o button primary fit">START</button>
            </form>

            <section>
            </section>
						
					</div>
				</div>
			</section>

    <!-- CTA -->
			<section id="cta" class="wrapper">
				<div id="page" class="inner">
					<h2> 추천되는 가수들 목록(21.01.19) </h2>
					<p>거미, 규현, 백지영, 오마이걸, 박봄, 하현우, 허각, 제시, 송하예, 김필, 케이윌, 윤하, 태연, 헤이즈, 백예린, 바이브, 10cm, (여자)아이들, 벤, 이하이, 에이핑크, 에픽하이, 선미, 엔플라잉, 볼빨간사춘기, 임창정, 잔나비, 송민호, 마크툽, 기리보이, 제니, 청하, 엠씨더맥스, 노을, 트와이스, 장덕철, 엑소, 임영웅, 폴킴, 악동뮤지션, 아이즈원, 먼데이키즈, 박혜원, 블랙핑크, 박효신, 레드벨벳, 방탄소년단, 있지, 멜로망스, 지코, 창모, 펀치, 크러쉬, 박진영, 다비치, 마마무, 아이유, 스탠딩에그, 양다일, 장범준</p>
				</div>
			</section>

    
    <!-- Testimonials -->
			<section class="wrapper">
				<div class="inner">
					<header class="special">
						<h2>Faucibus consequat lorem</h2>
						<p>In arcu accumsan arcu adipiscing accumsan orci ac. Felis id enim aliquet. Accumsan ac integer lobortis commodo ornare aliquet accumsan erat tempus amet porttitor.</p>
					</header>
					<div class="testimonials">
						<section>
							<div class="content">
								<blockquote>
									<p>Nunc lacinia ante nunc ac lobortis ipsum. Interdum adipiscing gravida odio porttitor sem non mi integer non faucibus.</p>
								</blockquote>
								<div class="author">
									<div class="image">
										<img src="images/pic01.jpg" alt="" />
									</div>
									<p class="credit">- <strong>Jane Doe</strong> <span>CEO - ABC Inc.</span></p>
								</div>
							</div>
						</section>
						<section>
							<div class="content">
								<blockquote>
									<p>Nunc lacinia ante nunc ac lobortis ipsum. Interdum adipiscing gravida odio porttitor sem non mi integer non faucibus.</p>
								</blockquote>
								<div class="author">
									<div class="image">
										<img src="images/pic03.jpg" alt="" />
									</div>
									<p class="credit">- <strong>John Doe</strong> <span>CEO - ABC Inc.</span></p>
								</div>
							</div>
						</section>
						<section>
							<div class="content">
								<blockquote>
									<p>Nunc lacinia ante nunc ac lobortis ipsum. Interdum adipiscing gravida odio porttitor sem non mi integer non faucibus.</p>
								</blockquote>
								<div class="author">
									<div class="image">
										<img src="images/pic02.jpg" alt="" />
									</div>
									<p class="credit">- <strong>Janet Smith</strong> <span>CEO - ABC Inc.</span></p>
								</div>
							</div>
						</section>
					</div>
				</div>
			</section>

		<!-- Footer -->
			<footer id="footer">
				<div class="inner">
          <div class="content">
						<section>
							<h3>Accumsan montes viverra</h3>
							<p>Nunc lacinia ante nunc ac lobortis. Interdum adipiscing gravida odio porttitor sem non mi integer non faucibus ornare mi ut ante amet placerat aliquet. Volutpat eu sed ante lacinia sapien lorem accumsan varius montes viverra nibh in adipiscing. Lorem ipsum dolor vestibulum ante ipsum primis in faucibus vestibulum. Blandit adipiscing eu felis iaculis volutpat ac adipiscing sed feugiat eu faucibus. Integer ac sed amet praesent. Nunc lacinia ante nunc ac gravida.</p>
						</section>
						<section>
							<h4>Sem turpis amet semper</h4>
							<ul class="alt">
								<li><a href="#">Dolor pulvinar sed etiam.</a></li>
								<li><a href="#">Etiam vel lorem sed amet.</a></li>
								<li><a href="#">Felis enim feugiat viverra.</a></li>
								<li><a href="#">Dolor pulvinar magna etiam.</a></li>
							</ul>
						</section>
						<section>
							<h4>Magna sed ipsum</h4>
							<ul class="plain">
								<li><a href="#"><i class="icon fa-twitter">&nbsp;</i>Twitter</a></li>
								<li><a href="#"><i class="icon fa-facebook">&nbsp;</i>Facebook</a></li>
								<li><a href="#"><i class="icon fa-instagram">&nbsp;</i>Instagram</a></li>
								<li><a href="#"><i class="icon fa-github">&nbsp;</i>Github</a></li>
							</ul>
						</section>
					</div>
					<div class="copyright">
						&copy; 퀸주, EastSea / <a href="https://github.com/kmj990929/cs496-week3" target="_blank">GitHub</a>.
					</div>
				</div>
			</footer>

  </body>

  <!-- Scripts -->
			<script src="/static/jquery.min.js"></script>
			<script src="/static/browser.min.js"></script>
			<script src="/static/breakpoints.min.js"></script>
			<script src="/static/util.js"></script>
			<script src="/static/main.js"></script>

</html>