<!doctype html>
<html lang="ko">
    <head>
        <title>MBTMI</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<meta name="description" content="" />
		<meta name="keywords" content="" />
		<link rel="stylesheet" type="text/css" href="/static/main.css" />
        <style>
            @font-face {
                font-family: 'Jal_Onuel';
                src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-10-21@1.0/Jal_Onuel.woff') format('woff');
                font-weight: normal;
                font-style: normal;
            }
            #page {
                font-family: 'Jal_Onuel';
            }
        </style>
    </head>
    <body>

        <!-- Header -->
            <header id="header">
                <a class="logo" href="/mbti">MBTMI</a>
                <nav>
					<a href="#menu">Menu</a>
				</nav>
            </header>

        <!-- Nav -->
			<nav id="menu">
				<ul class="links">
					<li><a href="/mbti">Main</a></li>
					<li><a href="/login">{{status}}</a></li>
				</ul>
			</nav>

        <!-- Heading -->
			<div id="heading" >
				<h1 id="page"><strong>Question Page</strong></h1>
			</div>

        <!-- Main -->
			<section id="main" class="wrapper">
				<div class="inner">
					<div id="page" class="content">
						<header>
							<h2> {{question}} </h2>
						</header>
						<form action="/mbti/question/{{number}}" method="GET">{% csrf_token %}
                            <div class="input-group"> 

                                <input type="radio" id="radio-alpha" name="answer" class="radio_btn" value="1">
                                <label for="radio-alpha">매우 그렇다</label><br>
                                <input type="radio" id="radio-beta" name="answer" class="radio_btn" value="2">
                                <label for="radio-beta">그렇다</label><br>
                                <input type="radio" id="radio-gamma" name="answer" class="radio_btn" value="3">
                                <label for="radio-gamma">보통이다</label><br>
                                <input type="radio" id="radio-delta" name="answer" class="radio_btn" value="4">
                                <label for="radio-delta">그렇지 않다</label><br>
                                <input type="radio" id="radio-epsilon" name="answer" class="radio_btn" value="5">
                                <label for="radio-epsilon">매우 그렇지 않다</label><br>
                                <hr />
                                <span class="input-group-btn">
                                    <button class="button primary small" type="submit" id="save_btn" disabled>save</button>
                                </span>
                            </div>
                        </form>
					</div>
				</div>
			</section>

    </body>

    <script src="https://code.jquery.com/jquery-3.5.1.js" integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc=" crossorigin="anonymous"></script>
        <script>
            $(document).ready(function(){
                //웹페이지 열면
                $(".radio_btn").click(function(){
                    $("#save_btn").attr('disabled', false);
                })
            })
        </script>

    <!-- Scripts -->
			<script src="/static/jquery.min.js"></script>
			<script src="/static/browser.min.js"></script>
			<script src="/static/breakpoints.min.js"></script>
			<script src="/static/util.js"></script>
			<script src="/static/main.js"></script>

</html>